#btn_agregar {
  width: 100%;  
  color: red;
  
}
 


::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background: #bbbbbbbb;
}

::-webkit-scrollbar-thumb {
    background: #e34343c4;
}

